
* {
  box-sizing: border-box;
}
*{
	color: balck;
}
.row{
	background-color:#bed929;
}
/* Create two equal columns that floats next to each other */
	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
	  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
	  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
	  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}
/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
   { 
  	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}
}

@media screen and (max-width: 800px) {
	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
	.column_menu {
	  float: left;
	  width: 15%;
	  position: absolute;
	  top: 5px;
	  bottom: 5px;
	  background-color: #D1F2EB  ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  min-width: 10em;
	  display:block;
	}
	.column_content {
	  float: left;
	  width: 85%;
	position: absolute;
	  top: 5px;
	  left: 15%;
	  bottom: 5px;
	  background-color:#D1F2EB ;
	  border: #7b8c11 2px solid;
	  border-radius: 5px;
	  display:block;
	}
}
   

div h1{
	font-size: 90%;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  text-shadow: #34495E  6px 6px 8px;
  text-transform: uppercase;
   min-width: 10em;
	
}

.caja{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #333944;
   min-width: 10em;
}
.box{
  width: 100%;
  height: auto;
  background: #CCC;
  overflow: hidden;
   min-width: 10em;
}
.separador{
	position:relative;
	top: 0;
flex-flow: column wrap;
  justify-content: center;
   width: 100%;
   height: 8%;
}
.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
#submenu ul{
    list-style: none;
    margin: 0;
    padding-top: 5px;
	padding-bottom: 5px;
    width: 100%;
	
	
    text-align: center;
}
.h2_submenu{
	font-size: 70%;
  font-weight: bold;
  letter-spacing: 5px;
padding-top:10px;
  text-align: center;
  text-shadow: #34495E  6px 6px 8px;
  text-transform: uppercase;
   min-width: 10em;
}
#submenu li{
	display: inline-block;
	list-style: none;
	padding-top: clamp(10px, 4%, 15px);
	font: bold 14px verdana, sans-serif;
	height: au;
	
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: clamp(5px, 4%, 15px);
    width: 100%;
	height: 90%;
    text-align: center;
}
#menu li{
	display: flex;
	list-style: none;
	padding-top: clamp(3px, 2%, 10px);
		padding-bottom: clamp(3px, 2%, 10px); /*espacio alrededor texto*/
		padding-right:clamp(10px, 4%, 20px);
	font: bold 12px verdana, sans-serif;
	text-align:left;
	height: 80%;
	
}
#windows_size{
	display:none;
	visibility:hidden;
}
#Quienes_somos{
	padding-left:5px;
}
#que_hacemos{
	padding-left:5px;
}
#manual_uso{
	padding-left:5px;
}
#hablamos{
		padding-left:5px;
}
#d_inicio{

}
#d_login{

	
}
#d_datos_empresa{


}
#d_datos_empleados{


}
#d_tipo_de_turno{


}
#d_dia_y_hora{


}
#d_turnos{

	
}
#d_nomina{

	
}
#d_informes{

	
}
#d_festivos{

	
}
#sm_inicio{

}
#sm_login{


}
#sm_datos_empresa{

}
#sm_datos_empleados{
	
	
}
#sm_tipo_de_turno{


}
#sm_dia_y_hora{

	
}
#sm_turnos{


}
#sm_nomina{

	
}
#sm_informes{


}
#sm_festivos{

}
#h2_submenu{
	
}
.boton {
	border: 1px solid #D1F2EB; /*anchura, estilo y color borde*/
	padding-top: 1%; /*espacio alrededor texto*/
	padding-bottom: 1%; /*espacio alrededor texto*/
	background-color: #D1F2EB; /*color botón*/
	text-decoration: none; /*decoración texto*/
	
	font-family: verdana, sans-serif;/*tipografía texto*/
	border-radius: 50px; /*bordes redondos*/
	}
.row_submenu{
	  float: top;
  width: 100%;
  padding: 1px;
  height: 15%; /* Should be removed. Only for demonstration */
  background-color:#D1F2EB ;
  border: #7b8c11 2px solid;
  border-radius: 5px;
}
.row_content{
	  float: left;
  width: 100%;
  color: black;
  height: 85%; /* Should be removed. Only for demonstration */
  background-color:#D1F2EB ;
  border: #7b8c11 2px solid;
  border-radius: 5px;
  overflow-y:scroll;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}