/* Definir fuentes personalizadas */

/* Elementos principales de la página */

body
{
    background: url('images/yellow_background.png');
  font-family: Verdana,Geneva,sans-serif; 
  	color:#000;
	font-size:12px;
}

}


#main_wrapper
{
    width: 900px;
    margin: auto;
}


section h1, footer h1, nav a
{
   font-family: Verdana,Geneva,sans-serif; 
    font-weight: normal;
   
}

li{
	color: blue;
	font-size:12px;
}
/* Encabezado */


#main_title
{
    display: inline-block;
}


header h1
{
  font-family: Verdana,Geneva,sans-serif; 
    font-size: 20px;
	color:  #333;
    font-weight: normal;
}
h2
{
  font-family: Verdana,Geneva,sans-serif; 
    font-size: 16px;
	color:  #666;
    font-weight: normal;
}
#lista_grupo li
{
	color:#000;
	font-size:12px;
}


#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}



/* table format*/
#tdiscografia {
  border: 1px solid black;
  width: 400px;
  text-align: left;
  /*border-collapse: separate;*/
  border-collapse: collapse;

}
.header_table{
	text-align:center;
	background-color:white;
	font-size:12px;
	 border: 1px solid black;

}
#tdiscografia th {
	color:white;
	text-align:center;
	font-size:14px;
	background-color:#666;
	padding:10px;
}
#tdiscografia td {

	padding:10px;
}
 .table_foot{
		font-size:12px;
	background-color:#ccc;
		text-align:center;
}

/* Navegación */

a
{
    font-size: 12px;
	color: blue;
    target: _blank;
	
}


