/* Definir fuentes personalizadas */

/* Elementos principales de la página */

body
{

  font-family: Verdana,Geneva,sans-serif; 
  	color:#000;
	font-size:12px;
}

}


#main_wrapper
{
    width: 900px;
    margin: auto;
}


section h1, footer h1
{
   font-family: Verdana,Geneva,sans-serif; 
    font-weight: normal;
     	color:#333;
	font-size:20px;
}
section h2, footer h2
{
   font-family: Verdana,Geneva,sans-serif; 
    font-weight: normal;
     	color:#666;
	font-size:16px;
}

li{
     	color:#000;
	font-size:12px;
	padding-top:1px;
}
#ol_lista_pasos li{
	 color:#000;
	font-size:12px;
	padding-top:15px;
	
}
p{
	   	color:#000;
	font-size:12px;
}
/* Encabezado */

#imagen_cabecera{
	 height:225;
	 width: 300;
	 margin: 0px;
	 padding-top: 15px;
}
#hr-footer{
	height:2px;
	background:blue;
}
#main_title
{
    display: inline-block;
}

